  body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    line-height: 1.5;
    overflow-x: hidden;
    background-color: #E1E5F2;
  }

  h2 {
    color: #22031F;
    font-size: 40px;
    text-align: center;
    font-family: Arial, Verdana, Helvetica;
    letter-spacing: 3px;
    text-transform: uppercase;
    margin: 40px;
  }

  h3 {
    color: #22031F;
    font-size: 30px;
    text-align: center;
    margin-bottom: 0px;
    margin-top: 50px;
    font-family: Arial, Verdana, Helvetica;
    letter-spacing: 3px;
    text-transform: uppercase;
  }

  h4 {
    font-size: 30px;
    float: left;
    margin: 0px;
    margin-top: -16px;
    margin-right: 5px;
    margin-bottom: -20px;
    color:#3a606e;
    font-family: Arial, Verdana, Helvetica;
  }

  p {
    color: #22031F;
  }

  .nav {
    border: none;
    text-align: center;
    box-sizing: border-box;
    position: absolute;
    font-size: 20px;
    list-style-type: none;
    display: block;
    overflow: hidden;
    display: inline;
    width: 100%;
    box-shadow: 0px 0px 0px 0px;
    z-index: 1;
  }

  #mainpage {
    float: left;
    position: fixed;
    background-color: rgba(0,0,0,0.3);
    padding-left: 18px;
    padding-right: 18px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-transform: uppercase;
    letter-spacing: 2px;
    border-radius: 4px;
  }

  #mainpage:hover {
    border-width: medium;
    background-color: #E1E5F2;
    color: white;
    border-color: #E1E5F2;
    border-radius: 4px;
  }

  .navbutton {
    float: right;
    padding-left: 18px;
    padding-right: 18px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-transform: uppercase;
    letter-spacing: 2px;
  }

  li a {
    text-decoration: none;
    color: white;
    padding: 20px;
  }

  li a:hover {
    color: black;
  }

  .navbutton:hover {
    border-width: medium;
    background-color: #E1E5F2;
    border-color: #E1E5F2;
    border-radius: 4px;
  }
  
  .header-front {
    background-color: #E1E5F2;
    background-image: url(img/header.png);
    background-size: cover;
    text-align: center;
    font-size: 40px;
    height: 700px;
    width: 100%;
    background-repeat: no-repeat;
    padding: 0px;
    overflow: hidden;
    margin-bottom: 20px;
  }

  .front-text {
    color: white;
    font-family: Optima, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: end;
    position: relative; 
    top: 170px;
    right: 200px;
  }

  .header {
    background-color: #ffffff91;
    background-size: cover;
    padding: 30px;
    text-align: center;
    font-size: 35px;
    width: 100%;
    height: 100%;
  }

  .infotext {
    margin: 0px;
    padding: 40px;
    justify-content: center;
    margin-top: 10px;
    background-color: #ffffff91;
    background-size: cover;
  }


  .solutionText {
    margin: 30px;
    padding: 40px;
    border-bottom: solid 1px;
    border-color: white;
    justify-content: center;
    float: left;
    margin-left: 120px;
    margin-right: 120px;
  }

  .howText {
    margin: 30px;
    padding: 40px;
    justify-content: center;
    float: right;
  }

  .recycleBilde {
    max-height: 300px;
    float: left;
    margin-left: 30px;
    margin-top: -60px;
  }

  .appbilde {
    max-height: 600px;
    float: right;
    margin-left: 30px;
    margin-top: -30px;
  }

  .linje {
    margin: 10px;
    padding: 5px;
    color: white;
  }
  
  /* Create three equal columns that floats next to each other */
  .column {
    float: left;
    width: 100%;
    text-align: center;
     /* Should be removed. Only for demonstration */
  }

  .container {
    display: flex;
    justify-content: space-around;
    margin-bottom: 15px;
  }

  .profileBox {
    margin: 20px;
  }

  

  .omOssNavn {
    float: left;
    vertical-align: baseline;
    margin-left: 30px;
    margin-top: 50px;
  }

  .omAndreaTekst {
    float: right;
    margin-top: 80px;
    margin-left: -118px;
  }

  .omFredrikTekst {
    float: right;
    margin-top: 80px;
    margin-left: -98px;
  }

  .profileImage {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    float: left;
    margin-top: 40px;
  }
  
  /* Clear floats after the columns */
  .row {
    display: flex;
    justify-content: center;
  }

  .pitch {
    display: flex;
    justify-content: center;
    margin: 40px;
  }
  
  /* Style the footer */
  .footer {
    background-color: #3a606e;
    padding: 130px;
    text-align: center;
  }

  .footertext {
    color: #E1E5F2;
  }
  
  /* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
  @media (max-width: 600px) {
    .column {
      width: 100%;
    }
  }
