  body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    line-height: 1.5;
    overflow-x: hidden;
    background-color: #E1E5F2;
  }

  h2 {
    color: #22031F;
    font-size: 40px;
    text-align: center;
    font-family: Abel, Arial;
    letter-spacing: 3px;
    text-transform: uppercase;
    margin: 40px;
  }

  h3 {
    color: #22031F;
    font-size: 30px;
    text-align: center;
    margin-bottom: -40px;
    margin-top: 50px;
    font-family: Abel, Arial;
    letter-spacing: 3px;
    text-transform: uppercase;
  }

  h4 {
    font-size: 30px;
    float: left;
    margin: 0px;
    margin-top: -16px;
    margin-right: 5px;
    margin-bottom: -20px;
    color:#3a606e;
    font-family: Abel, Arial;
  }

  h5 {
    font-size: 25px;
    color:#E1E5F2;
    font-family: Abel, Arial;
  }

  h6 {
    font-size: 20px;
    color:#E1E5F2;
    font-family: Abel, Arial;
  }

  p {
    color: #22031F;
  }

  .nav {
    border: none;
    text-align: center;
    box-sizing: border-box;
    position: absolute;
    font-size: 20px;
    list-style-type: none;
    display: block;
    overflow: hidden;
    width: 100%;
    box-shadow: 0px 0px 0px 0px;
    z-index: 1;
  }

  #mainpage {
    float: left;
    position: fixed;
    background-color: rgba(0,0,0,0.3);
    padding-left: 18px;
    padding-right: 18px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-transform: uppercase;
    letter-spacing: 2px;
    border-radius: 4px;
  }

  #mainpage:hover {
    border-width: medium;
    background-color: #E1E5F2;
    color: white;
    border-color: #E1E5F2;
    border-radius: 4px;
  }

  .navbutton {
    float: right;
    padding-left: 18px;
    padding-right: 18px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-transform: uppercase;
    letter-spacing: 2px;
  }

  li a {
    text-decoration: none;
    color: white;
    padding: 20px;
  }

  li a:hover {
    color: black;
  }

  .navbutton:hover {
    border-width: medium;
    background-color: #E1E5F2;
    border-color: #E1E5F2;
    border-radius: 4px;
  }
  
  .header-front {
    background-color: #E1E5F2;
    background-image: url(img/header.png);
    background-size: cover;
    text-align: center;
    font-size: 40px;
    height: 700px;
    width: 100%;
    background-repeat: no-repeat;
    padding: 0px;
    overflow: hidden;
    margin-bottom: 20px;
  }

  .front-text {
    color: white;
    font-family: Palatino, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: end;
    margin-top: 170px;
    margin-right: 200px;
    justify-content:flex;
  }

  .header {
    background-color: #ffffff91;
    background-size: cover;
    padding: 30px;
    text-align: center;
    font-size: 35px;
    width: 100%;
    height: 100%;
  }

  .infotext {
    margin: 0px;
    padding: 40px;
    justify-content: center;
    margin-top: -50px;
    background-color: #ffffff91;
    background-size: cover;
    margin-bottom: -40px;
  }

  .solutionText {
    margin: 30px;
    padding: 40px;
    border-bottom: solid 1px;
    border-color: white;
    justify-content: center;
    float: left;
    margin-left: 130px;
    margin-right: 120px;
  }

  .howText {
    margin: 30px;
    padding: 40px;
    margin-right: 150px;
    margin-left: 115px;
    margin-top: 20px;
  }

  .recycleBilde {
    max-height: 300px;
    float: left;
    margin-top: 60px;
    margin-bottom: 50px;
    margin-right: 50px;
    display: flex;
  }

  .appbilde {
    max-height: 600px;
    float: right;
    margin-left: 30px;
    margin-top: 10px;
    margin-bottom: 15px;
    margin-right: -25px;
    display: flex;
  }

  .linje {
    margin: 10px;
    padding: 5px;
    color: white;
  }

  .navnAndrea {
    color: #E1E5F2;
    display: inline-block;
    margin-left: -15px;
    margin-right: auto;
    margin-top: -130px;
  }

  .navnFredrik {
    color: #E1E5F2;
    display: inline-block;
    margin-left: 100px;
    margin-right: auto;
    margin-top: -160px;
    padding-left: 20px;
  }

  #navn {
    text-align: center;
    margin-bottom: -30px;
  }

  .omAndreaTekst {
    color: #E1E5F2;
    display: inline-block;
    margin-left: -30px;
    margin-right: auto;
    margin-top: -130px;
    font-size: 13px;
  }

  .omFredrikTekst {
    color: #E1E5F2;
    display: inline-block;
    margin-left: 40px;
    margin-right: auto;
    margin-top: -70px;
    padding-left: 35px;
    font-size: 13px;
  }

  #om {
    text-align: center;
  }

  .profileImage {
    height: 80px;
    width: 80px;
    border-radius: 50%;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    margin-top: -130px;
    padding: 70px;
    margin-bottom: -60px;
  }

  #images {
    text-align: center;
  }

  .pitch {
    display: flex;
    justify-content: center;
    margin: 40px;
  }
  
  .footer {
    background-color: #3a606e;
    padding: 130px;
  }

  .sourcetitle {
    color: #E1E5F2;
    text-align: left;
    margin-top: -110px;
    
  }

  .contacttitle {
    color: #E1E5F2;
    text-align: center;
    margin-top: -80px;
    
  }

  #border1 {
    border-left: solid;
    border-color: #22031f71;
    height: 230px;
    border-width: 1px;
    position: absolute;
    margin-left: 240px;
    margin-top: -110px;
  }

  #border2 {
    border-left: solid;
    border-color: #22031f71;
    height: 230px;
    border-width: 1px;
    position: absolute;
    margin-left: 920px;
    margin-top: -220px;
  }

  .followtitle {
    color: #E1E5F2;
    text-align: right;
    margin-top: -80px;
  }

  .sourcetext {
    color: #E1E5F2;
    margin-top: -30px;
  }

  .contacttext {
    color: #E1E5F2;
  }

  .followtext {
    color: #E1E5F2;
    margin-top: -180px;
  }

  #follow {
    text-align: right;
  }

  .footertext {
    color: #E1E5F2;
  }

  .footer a {
    color: #ce8a5e;
    text-decoration: none;
    font-weight: bold;
  }

  .footer a:hover {
    color: #E1E5F2;
  }

  @media (max-width: 600px) {
    .column {
      width: 100%;
    }
  }
